[submodule "frontend"]
    path = frontend/hujia_menhu
    url = <https://github.com/zhaohonglee-git/hujia-frontend-hujia_menhu.git>

[submodule "backend"]
    path = /backend
    url = <https://github.com/zhaohonglee-git/hujia-backend.git>